:root {
  --off-white: #d9d9d9;
  --off-white-darker: #b1b1b1;
  --off-black: #2e2e2e;
  --off-black-darker: #161616;
  --translucent-black: rgba(0, 0, 0, .6);
  --radius: 8px;

  --accent-color: #646cff;
  --accent-color-darker: #535bf2;

  --primary-color: var(--off-white);
  --secondary-color: var(--off-black);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color-darker);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  padding-left: .4rem;
}

.card {
  padding: 2em 0;
}

#app {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  padding: 0.6em .9em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--off-black-darker);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: var(--off-black);
    --secondary-color: var(--off-white)
  }

  a:hover {
    color: var(--accent-color);
  }

  button {
    background-color: var(--off-white-darker);
    color: var(--off-black-darker);
  }

}